.container {
    margin-top: 2px;
    padding: 50px;
    background-color: #303030;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .card{
    margin-top: 10px;
  }