<div class="container">
    <div class="header">

       <mat-card>
        <mat-card-title>Train Price Calculator</mat-card-title>
        <mat-card-subtitle> V2.0 </mat-card-subtitle>
       </mat-card>

        <mat-card>
            <mat-card-content>
                What's New <br/>
                <hr>
                Can calculate the ticket prices within the given stations in the list<br />
                Can select the two stations from the same train line only
            </mat-card-content>
        </mat-card>

        <mat-card>
            Powered by, <a style="color: darkorchid" href="https://www.facebook.com/railpediasrilanka">Railpedia Sri Lanka</a><br/>
            <img width="50%" src="./assets/images/railpedia-logo.png">
        </mat-card>

    </div>