<div class="container">
    <div class="header">

       <mat-card class="card">
        <mat-card-title>Train Ticket Price Calculator</mat-card-title>
        <mat-card-subtitle> V2.1 </mat-card-subtitle>
       </mat-card>

        <mat-card class="card">
            <mat-card-content>
                What's New <br/>
                <hr>
                Can calculate the ticket prices within the given stations in the list<br />
            </mat-card-content>
        </mat-card>

        <mat-card class="card">
            Powered by, <a style="color: darkorchid" href="https://www.facebook.com/railpediasrilanka">Railpedia Sri Lanka</a><br/>
            <img width="50%" src="./assets/images/railpedia-logo.png">
        </mat-card>

    </div>