<div class="container">

<div class="cont">
<form class="example-form">
  <mat-card style="margin-bottom:20px; text-align: center;" >
    <mat-card-title>Train Ticket Price Calculator</mat-card-title>
   </mat-card>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>From Station</mat-label>
    <input type="text"
           placeholder="-Select-"
           aria-label="From Station"
           matInput
           [formControl]="fromStation"
           [(ngModel)]="searchText1"
           [matAutocomplete]="autoNationality">
    <mat-autocomplete #autoNationality="matAutocomplete">
      <mat-option *ngFor="let station of SlrStations | appFilter: searchText1" [value]="station.station">
        {{station.station}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>To Station</mat-label>
    <input type="text"
           placeholder="-Select-"
           aria-label="To Station"
           matInput
           [formControl]="toStation"
           [(ngModel)]="searchText2"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let station of SlrStations | appFilter: searchText2" [value]="station.station">
        {{station.station}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-button-toggle-group [formControl]="ticketClass" class="toggle-button-group" aria-label="Font Style">
    <mat-button-toggle class="toggle-button" value="1">1st Class</mat-button-toggle>
    <mat-button-toggle class="toggle-button" value="2">2nd Class</mat-button-toggle>
    <mat-button-toggle class="toggle-button" value="3">3rd Class</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group [formControl]="ticketType" class="toggle-button-group" aria-label="Font Style">
    <mat-button-toggle class="toggle-button" value="1">Normal Ticket</mat-button-toggle>
    <mat-button-toggle class="toggle-button" value="2">Private Season</mat-button-toggle>
    <mat-button-toggle class="toggle-button" value="3">School Season</mat-button-toggle>
  </mat-button-toggle-group>

  <button mat-raised-button color="primary" class="check-price-button" (click)="getPrice()">Check Price</button>
  <mat-spinner *ngIf="isProcessing" class="loading" diameter="25"></mat-spinner>
  <mat-card class="price-card" *ngIf="valTicketPrice!=0">Rs. {{valTicketPrice}}.00</mat-card>
</form>
</div>
</div>